ariadne-django                         # schema-first graphql server implementation
dj-database-url                        # to be able to parse DATABASE_URL
django-environ                         # Read .env file
django-extensions                      # useful django extensions
django~=5.2                            # web framework itself
djangorestframework                    # creating rest APIs
djangorestframework-api-key            # creating and managing API keys
gunicorn                               # application server
psycopg2-binary                        # postgres database adapter
requests                               # http requests
django-cors-headers                    # enabling CORS
whitenoise                             # enabling Django to serve its own static files
xmltodict                              # parsing xml to dictionary
django-helusers                        # app for City of Helsinki user infrastructure
django-db-logger                       # logging to database
drf-yasg                               # generating swagger documentation
django-crontab                         # cron jobs
helsinki-profile-gdpr-api              # app for implementing Helsinki profile GDPR API
fpdf                                   # pdf generation
django-resilient-logger                # audit logging
django-searchable-encrypted-fields     # encrypted fields
pycryptodome                           # cryptographic primitives
cryptography                           # cryptography
sentry-sdk                             # error logging
numpy                                  # scientific computing
python-dateutil                        # date utilities
urllib3                                # http client
django-mailer                          # better email backend
