{% load i18n %}
<p>
    {% translate "Order info" %}: <br>
    {{ permit.get_type_display }} <br>
    {{ permit.customer }} <br>
    {% translate "Address" %}: {{ permit.address }} <br>
    {% translate "Area" %}: {{ permit.parking_zone.name }} <br>
    {% translate "Vehicle" %}: {{ permit.vehicle }} <br>
    {{ permit.get_contract_type_display }} <br>
    {% translate "Validity period" %}: {{ permit.latest_order_item.start_date|date:"j.n.Y, H:i" }} – {{ permit.latest_order_item.end_date|date:"j.n.Y, H:i" }}
</p>
