{% load i18n %}
<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
{% include "emails/base_style.html" %}
</head>

<body>
{% include "emails/base_header.html" %}
<div class="content">
    {% language 'fi' %}
    <div class="message-title">{% block title_fi %}{% endblock %}</div>
    <div class="message-title-divider"></div>
    <div class="noreply-description">
        {% translate "This message has been sent automatically from the system. Please do not reply to this message as replies will not be processed." %}
    </div>
    <div class="message-body">
        {% block content_fi %}{% endblock %}
    </div>
    {% endlanguage %}

    {% language 'sv' %}
    <div class="message-title">{% block title_sv %}{% endblock %}</div>
    <div class="message-title-divider"></div>
    <div class="noreply-description">
        {% translate "This message has been sent automatically from the system. Please do not reply to this message as replies will not be processed." %}
    </div>
    <div class="message-body">
        {% block content_sv %}{% endblock %}
    </div>
    {% endlanguage %}

    {% language 'en' %}
    <div class="message-title">{% block title_en %}{% endblock %}</div>
    <div class="message-title-divider"></div>
    <div class="noreply-description">
        {% translate "This message has been sent automatically from the system. Please do not reply to this message as replies will not be processed." %}
    </div>
    <div class="message-body">
        {% block content_en %}{% endblock %}
    </div>
    {% endlanguage %}
</div>
{% include "emails/base_footer.html" %}
</body>
</html>
