{% extends "emails/base.html" %}
{% load i18n %}

{% block title %}{% translate "Your refund has been accepted" %}{% endblock %}

{% block content %}
    <p>
        {% translate "Your refund has been accepted and will appear on the account you reported within about a week" %}
    </p>
{% for refund in refunds %}
    <p>
        {% translate "Total refundable amount" %}
        {{ refund.amount|floatformat:"2u" }}€ ({% translate "incl. VAT" %} {{ refund.vat_percent|floatformat:"2u" }}%, {{ refund.vat|floatformat:"2u" }}€)
    </p>
{% endfor %}
{% endblock %}
