{% extends "emails/base.html" %}
{% load i18n %}

{% block title %}{% translate "Your refund has been registered" %}{% endblock %}

{% block content %}
    <p>
        {% translate "You are entitled to a refund and it has been registered. You will receive a separate notification when the return has been approved." %}
    </p>
    <p>
        {% translate "Total refundable amount" %}
        {{ refund.amount|floatformat:"2u" }}€ ({% translate "incl. VAT" %} 24%, {{ refund.vat|floatformat:"2u" }} €)
    </p>
{% endblock %}
