{% extends "emails/base.html" %}
{% load i18n %}

{% block title %}{% translate "The vehicle is entitled to a discount" %}{% endblock %}

{% block content %}
    <p>
        {% translate "The attached vehicle is entitled to a 50% discount in street parking when paying with parking applications." %}
    </p>
    <p>
        {% translate "Vehicle" %}: {{ permit.vehicle }}<br>
        {% translate "Discount: Low-emission vehicle" %} <br>
        {% translate "Discount valid from" %}: {{ permit.start_time|date:"j.n.Y, H:i" }}
    </p>
{% endblock %}
